<!--
CS Project
Virtual TA Project
Team 9 - Anjum Chida
-->

<link rel="stylesheet" href="{{ url_for('static', filename='test.css') }}">
<div class="container block--background">
    <div id="navContainer">
        <ul class = "nav">
            <li class = "nav_element"><a class = "link" href="/index.html">Home</a></li>
            <li class = "nav_element"><a class = "link" href="/FAQ.html">FAQ</a></li>
            <li class = "nav_element"><a class = "link" href="/contact.html">Contact</a></li>
            <li class = "nav_element"><a class = "link" href="/about.html">About</a></li>
        </ul>
    </div>
    <div class="centered">
        FAQ (Frequently Asked Questions)<br><br>
        <br>What is the time complexity of merge sort?<br>
            - BEST: Ω(nlog(n)), AVERAGE: θ(nlog(n)), WORST: O(nlog(n))<br>
        <br>What is the time complexity of quick sort?<br>
            - BEST: Ω(nlog(n)), AVERAGE: θ(nlog(n)), WORST: O(n^2)<br>
        <br>What is the time complexity of insertion sort?<br>
            - BEST: Ω(n), AVERAGE: θ(n^2), WORST: O(n^2)<br>
        <br>What is the time complexity of selection sort?<br>
            - BEST: Ω(n^2), AVERAGE: θ(n^2), WORST: O(n^2)<br>
        <br>What is the time complexity of heap sort?<br>
            - BEST: Ω(nlog(n)), AVERAGE: θ(nlog(n)), WORST: O(nlog(n))<br>
        <br>What is the time complexity of bubble sort?<br>
            - BEST: Ω(n), AVERAGE: θ(n^2), WORST: O(n^2)<br>
        <br>What is the order of complexity?<br>
            - O(1) &lt; O(log(N)) &lt; O(N) &lt; O(Nlog(N)) &lt; O(N^2) &lt; O(n^3) &lt; O(2^N) &lt; O(N!)
        <br>
    </div>
</div>
